<!DOCTYPE html>
<html>
<head>
    <title>Add book</title>
    <meta charset="utf-8" />
    <style>
        .field{width:180px;}
        body{
            background-color: #d7f5c7;
        }
        </style>
</head>
<body>
<div align="center">
<h2>Add new book to database</h2><br>
<form method="POST">
    <label>Author</label><br>
    <input name="name" class="field"/><br><br>
    <label>Book title</label><br>
    <input name="title" type="text" class="field" min="1" max="110" /><br><br>
    <input type="submit" value="Add book" />
</form><br><br>
<a href="/">Back to index page</a>
</div>
</body>
<html>